* {
    margin: 0;
    padding: 0px;
}
body {
    background-color: #1C1C1C;
    color: #ffffff;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
}
#input-section {
    width: 550px;
    height: 260px;
    background-image: linear-gradient(45deg,#FB3796, #585DFE);
    text-align: center;
}
#cal-section {
    background-color: #1F2937;
    width: 550px;
    height: 300px;
    text-align: center;
    margin-bottom: 20px;
}
#cal-results {
    padding-top: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    padding-top: 53px;
}
input[type=text] {
    margin-top: 20px;
    padding: 20px;
    border: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: transparent;
    text-align: center;
    color: white;
}
input[type=text]:focus {
    outline: none;
}
.heading1{
    padding-bottom: 10px;
}
.heading2 {
    padding-top: 35px;
    margin-bottom: 10px;
}
.heading3 {
    padding-top: 35px;
    margin-bottom: 10px;
}
#btn-convert {
    padding: 10px;
    width: 120px;
    color: lightgray;
    font-size: 17px;
    border: 1px solid lightgrey;
    background: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 3px;
}